<!-- 营销费用报销流程 -->
<div ng-controller="marketExpenseClaimCtrl">
	<div class="item item-input">
		<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>报销人</span>
		<input type="text" readonly="true" value ="{{submitData.fp__tWfCust_MarketExpenseClaim__0__EmpCode +'|'+submitData.fp__tWfCust_MarketExpenseClaim__0__EmpName}}"/>
	</div>
				   
	<div class="item item-input item-select" style="padding: 0px;padding-right:10px"
		ng-if="submitData.fp__tWfCust_MarketExpenseClaim__0__Company_Show !='0'">　
		<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>分公司</span>
		<select style="padding-right: 0px;width: 100%" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__Company"
			ng-disabled="submitData.fp__tWfCust_MarketExpenseClaim__0__Company_Edit =='0'" ng-change="chgCompany()">
			<option value ="福州有家" ng-if="cmpCode == '福州有家'||cmpCode == '美第'|| cmpCode == '福清有家' || cmpCode == '长乐有家'">福州有家</option>
			<option value ="福清有家" ng-if="cmpCode == '福州有家'||cmpCode == '美第'|| cmpCode == '福清有家' || cmpCode == '长乐有家'">福清有家</option>
			<option value ="长乐有家" ng-if="cmpCode == '福州有家'||cmpCode == '美第'|| cmpCode == '福清有家' || cmpCode == '长乐有家'">长乐有家</option>
			<option value ="厦门有家" ng-if="cmpCode == '厦门有家'">厦门有家</option>
			<option value ="漳州有家" ng-if="cmpCode == '厦门有家' || cmpCode == '漳州有家'">漳州有家</option>
			<option value ="美第家居" ng-if="cmpCode == '福州有家'||cmpCode == '美第'|| cmpCode == '福清有家' || cmpCode == '厦门有家' ||cmpCode == '漳州有家'">美第家居</option>
			<option value ="郑州有家" ng-if="cmpCode == '郑州有家' || cmpCode == '郑州有家'">郑州有家</option>
			<option value ="美第奇" ng-if="cmpCode == '郑州有家' || cmpCode == '美第奇'">美第奇</option>
		</select>
	</div>
	
	<div class="item item-input item-select" style="padding: 0px;padding-right:10px"
		ng-if="submitData.tWfCust_MarketExpenseClaim_Deduction_Show !='0'">　
		<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>抵扣预支</span>
		<select style="padding-right: 0px;width: 100%" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__Deduction"" 
			ng-disabled="submitData.tWfCust__ExpenseClaim_Deduction_Edit =='0'">
			<option value ="是">是</option>
			<option value ="否">否</option>
		</select>
	</div>
	
	<div class="item item-input item-select" style="padding: 0px;padding-right:10px">　
		<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>费用大类</span>
		<select style="padding-right: 0px;width: 100%" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__CostCategories">
			<option value ="常规类">常规类</option>
			<option value ="楼盘开发费">楼盘开发费</option>
			<option value ="前端月度奖励">前端月度奖励</option>
		</select>
	</div>
	
	<div class="item item-input" ng-if="submitData.tWfCust_MarketExpenseClaimMainDtl_BefAmount_Show !='0'">
		<span class="input-label defWidth" style="text-align: right">借款余额</span>
		<input type="number" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__BefAmount"
		 readonly="true"/>						  
	</div>
	
	<div class="item item-input item-select" style="padding: 0px;padding-right:10px" ng-show="false">　
		<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>常规列支</span>
		<select style="padding-right: 0px;width: 100%" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__IsCommon" 
			disabled="true">
			<option value ="是" >是</option>
		</select>
	</div>
	
	<div class="item item-input">
		<span class="input-label defWidth" style="text-align: right">报销额</span>
		<input type="number" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__Amount" placeholder="自动计算"
		 readonly="true"/>
	</div>
	<div class="item item-input" ng-show="submitData.tWfCust_MarketExpenseClaim_ApproveAmount_Show != '0'">
		<span class="input-label defWidth" style="text-align: right">审批金额</span>
		<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__ApproveAmount" 
		ng-change="chgConfAmount()" ng-readonly="submitData.tWfCust_MarketExpenseClaim_ApproveAmount_Edit !='1'"/>
	</div>
	<div class="item item-input" ng-show="submitData.tWfCust_MarketExpenseClaim_DeductionAmount_Show !='0'">
		<span class="input-label defWidth" style="text-align: right">抵扣金额</span>
		<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__DeductionAmount" 
			ng-readonly="submitData.tWfCust_MarketExpenseClaim_DeductionAmount_Edit !='1'"/>
	</div>
	<div class="item item-input" ng-show="submitData.fp__tWfCust_MarketExpenseClaim_DocumentNo && submitData.tWfCust_MarketExpenseClaim_DocumentNo_Show">
		<span class="input-label defWidth" style="text-align: right">凭证号</span>
		<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__DocumentNo" 
			ng-readonly="submitData.tWfCust_MarketExpenseClaim_DocumentNo_Edit !='1'"/>
	</div>
	<div class="item item-input">
		<span class="input-label defWidth" style="text-align: right">备注</span>
		<textarea ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__Remarks" style="width:65%"
			textareaauto="submitData.fp__tWfCust_MarketExpenseClaim__0__Remarks"></textarea>
	</div>
	<div class="item item-input item-select" style="padding: 0px;padding-right:10px"
		ng-if="commitDatas && commitDatas.taskDefKey =='usertask17'">　
		<span class="input-label defWidth" style="text-align: right">流程结束</span>
		<select style="padding-right: 0px;width: 100%" ng-model="submitData.TaskContinue" 
			>
			<option value ="是">是</option>
			<option value ="否" ng-selected="true">否</option>
		</select>
	</div>
	<!-- 
	<div class="item item-input" ng-if="submitData.tWfCust_MarketExpenseClaim_PayAccount_Show !='0'">
		<span class="input-label defWidth"><span style="color:red">*</span>付款账户</span>
		<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaim__0__PayAccount"
		ng-if="submitData.tWfCust_MarketExpenseClaim_PayAccount_Edit !='1' "/>
	</div>
	 -->
	<div style="padding: 10px;color:red;font-weight: bold" ng-if="remarks" ng-bind-html="remarks"></div>
	 <group scope="self" label="营销费用明细" addcallback="fybxAddCallback(index)" 
		   delcallback="yxfyDetlCallback(index)" delall="yxfyDetlall" indexs="yxfyIndexs"
		   detailnum="{{detailNum}}" afterdetailnum="yxfyAfterDetailNum()">
		<div id="mainDetailDiv">
			<div class="item item-input">
		       <span class="input-label defWidth" style="text-align: right">
	         	账户名
		       </span>
		       <input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaimMainDtl__?__ActName" placeholder="请输入账户名"
		        ng-readonly="submitData.tWfCust_MarketExpenseClaimMainDtl_ActName_Edit =='0'"/>
		       <div class="item-button-right">
		         <button class="button " ng-click="openEmpCardModal(?)"><p>选择</p></button>
		       </div>
		    </div>
		    
		    <div class="item item-input">
				<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>卡号</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaimMainDtl__?__CardId" ng-keyup="formatCardId(?)"
				ng-readonly="submitData.tWfCust_MarketExpenseClaimMainDtl_CardId_Edit =='0'"/>
			</div>
			
			<div class="item item-input">
				<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>开户行</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaimMainDtl__?__Bank"
				ng-readonly="submitData.tWfCust_MarketExpenseClaimMainDtl_Bank_Edit =='0'"/>
			</div>
			
			<div class="item item-input">
				<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>支行</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaimMainDtl__?__SubBranch"
				ng-readonly="submitData.tWfCust_MarketExpenseClaimMainDtl_SubBranch_Edit =='0'"/>
			</div>
			
			<div class="item item-input" ng-if="submitData.tWfCust_MarketExpenseClaimMainDtl_DtlAmount_Show !='0'">
				<span class="input-label defWidth">报销金额</span>
				<input type="number" ng-model="submitData.fp__tWfCust_MarketExpenseClaimMainDtl__?__DtlAmount"
				 ng-change="chgMainAmount()"/>
			</div>
		</div>
	</group>
	 
	<group scope="self" label="分摊明细" addcallback="fybxAddCallback(ftmxIndexs)" 
		   delcallback="fybxDelCallback(index)" delall="fybxDelAll" indexs="ftmxIndexs"
		   detailnum="{{ftmxDetailNum}}" afterdetailnum="fybxAfterDetailNum()">
		<div id="detailDiv">
			<div class="item item-input" >
		        <span class="input-label defWidth" style="text-align: right">
		      	  <span style="color:red">*</span>
		          	部门
		        </span>
		        <input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaimDtl__?__DeptDescr" 
		        	placeholder="请录入部门名称"
		        	ng-readonly="submitData.tWfCust_MarketExpenseClaimDtl_DeptDescr_Edit =='0'"/>
		        <div class="item-button-right" >
		          <button class="button " ng-click="openDept2Modal(?,'','busine')"><p>选择</p></button>
		        </div>
		    </div>
		    
			<div class="item item-input">
				<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>分摊额</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaimDtl__?__ShareAmount"
				ng-readonly="submitData.tWfCust_MarketExpenseClaimDtl_ShareAmount_Edit =='0'"/>
			</div>
			
			<div class="item item-input" ng-hide="true">
				<span class="input-label defWidth" style="text-align: right">签名</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketExpenseClaimDtl__?__Signature" value=""
				/>
			</div>
			
			<div class="item item-input" ng-if="submitData.tWfCust_MarketExpenseClaimDtl_Remarks_Show !='0'">
				<span class="input-label defWidth" style="text-align: right"><span style="color:red">*</span>说明</span>
				<textarea ng-model="submitData.fp__tWfCust_MarketExpenseClaimDtl__?__Remarks" style="width:65%"
					textareaauto="submitData.fp__tWfCust_MarketExpenseClaimDtl__?__Remarks"
					ng-readonly="submitData.tWfCust_MarketExpenseClaimDtl_Remarks_Edit =='0' " ></textarea>
			</div>
		</div>
	</group>
	
	<group scope="self" label="抵扣预支单明细" addcallback="bxyzdAddCallback(index)" 
		   delcallback="calcDeductionAmount(bxyzdIndexs)" delall="bxyzdDelAll" indexs="bxyzdIndexs"
		   detailnum="{{bxyzdDetailNum}}" afterdetailnum="bxyzdAfterDetailNum()" >
		<div id="editDiv"> 
			<div class="item item-input">
		       <span class="input-label defWidth" style="text-align: right">
		         	预支单
		       </span>
		       <input type="text" ng-model="submitData.fp__tWfCust_MarketClaimAdvanceDtl__?__WfExpenseAdvanceNo" placeholder="请选择预支单"
		        readonly="true"/>
		       <div class="item-button-right">
		         <button class="button " ng-click="openExpenseAdvanceModal(?)"><p>选择</p></button>
		       </div>
		    </div>
			<div class="item item-input">
				<span class="input-label defWidth" style="text-align: right">报销额</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketClaimAdvanceDtl__?__AdvanceAmount"/>
			</div>
			<div class="item item-input">
				<span class="input-label defWidth" style="text-align: right">抵扣金额</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketClaimAdvanceDtl__?__DeductionAmount" ng-change="calcDeductionAmount()"/>
			</div>
			<div class="item item-input" ng-hide="true">
				<span class="input-label defWidth">pk</span>
				<input type="text" ng-model="submitData.fp__tWfCust_MarketClaimAdvanceDtl__?__PK"/>
			</div>
		</div>
	</group>
	
	<!-- 空白行 -->
	<div style="border: none;background-color:rgb(245,245,245);height:36px">
		<span style="test-align:center;padding:0;line-height:36px;color:black;padding-left:20px">图片</span>
	</div>
	
	<div class="row" style="background-color:white">
       <div style="width: 45%"><button ng-click="pickerPhoto()" class="button button-positive button-block"><span style="font-size: 15px">从相册中选择</span></button></div>
       <div style="width: 45%;margin-left: 10%"> <button ng-click="takePhoto()" class="button button-positive button-block"><i class="icon ion-ios-camera" ></i><span style="font-size: 15px">拍照</span></button></div>
    </div>
    <div ng-controller="photoCtrl">
      <div class="gallery-view">
        <ion-gallery ion-gallery-items="photoUrlList" ng-click="initSlideIndex(photoUrlList,$event,submitData.taskDefKey != 'startevent' && submitData.taskDefKey != 'applyman' && showReset != false)" ></ion-gallery>
      </div>
    </div>
</div>
