<div ng-controller="prjReturnOrderCtrl">
	<inputcustomer id="submitData.fp__tWfCust_PrjReturnOrder__0__CustCode" idvar="code" 
				   showvalue="{{submitData.fp__tWfCust_PrjReturnOrder__0__CustCode}}" 
				   showlabel="{{submitData.fp__tWfCust_PrjReturnOrder__0__CustDescr}}" 
				   label="客户编号" placeholder="请选择客户编号" 
				   callback="customerCallback(data)" conditions="conditions"
				   require="true"></inputcustomer>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>楼盘</span>
		<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__Address" 
					ng-readonly="submitData.tWfCust_PrjReturnOrder_Address_Edit != '1'"/>
	</div>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>分公司</span>
		<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__CompanyDescr" readonly="true"/>
	</div>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>业务员</span>
		<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__BusinessMan" 
					ng-readonly="submitData.tWfCust_PrjReturnOrder_BusinessMan_Edit != '1'" />
	</div>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>设计师</span>
		<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__DesignMan"
					ng-readonly="submitData.tWfCust_PrjReturnOrder_DesignMan_Edit != '1'"/>
	</div>
	<div class="item item-input item-select" style="padding: 0px;padding-right:10px">　
		<span class="input-label defWidth"><span style="color:red">*</span>施工状态</span>
		<select style="padding-right: 0px;width: 100%" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__Status" ng-change="statusChange()"
			disabled="true">
			<option value ="未开工">未开工</option>
			<option value ="已开工">已开工</option>
		</select>
	</div>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>合同造价</span>
		<input type="number" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__ContractFee" 
				ng-readonly="submitData.tWfCust_PrjReturnOrder_ContractFee_Edit != '1'"/>
	</div>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>设计费</span>
		<input type="number" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__DesignFee" readonly="true"/>
	</div>										
	<div class="item item-input item-select" style="padding: 0px;padding-right:10px">　
		<span class="input-label defWidth"><span style="color:red">*</span>是否收设计费</span>
		<select style="padding-right: 0px;width: 100%" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__IsChargeDesignFee"
				ng-change="chgRealDesignFee()">
			<option value ="是">是</option>
			<option value ="否">否</option>
		</select>
	</div>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>实收设计费</span>
		<input type="number" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__RealDesignFee"
		    ng-readonly="submitData.fp__tWfCust_PrjReturnOrder__0__IsChargeDesignFee=='否'"/>
	</div>
	<div class="item item-input">
		<span class="input-label defWidth">退款额</span>
		<input type="number" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__ReturnAmount"
		 placeholder="自动计算"
		 readonly="true"/>
	</div>	
	<mulitselect conditions="options" callback="selectCallback(data)" 
		label="退单收回资料" placeholder="选择收回资料"
		id="submitData.fp__tWfCust_PrjReturnOrder__0__TakeBackDateList" 
		showlabel="{{submitData.fp__tWfCust_PrjReturnOrder__0__TakeBackDateList}}" 
		ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__TakeBackDateList"
		require="true"></mulitselect>
	<div class="item item-input">
		<span class="input-label defWidth"><span style="color:red">*</span>退单原因</span>
		<textarea ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__Reason" style="width:65%"
				textareaauto="submitData.fp__tWfCust_PrjReturnOrder__0__Reason" ></textarea>
	</div>
	<div class="item item-input" ng-if="submitData.tWfCust_PrjReturnOrder_DocumentNo_Show == '1'">
		<span class="input-label defWidth">凭证号</span>
		<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrder__0__DocumentNo"/>
	</div>	
	<div style="padding: 10px;" ng-bind-html="remarks"></div>
	<group scope="self" label="工程退单明细" addcallback="gctdAddCallback(index)" delcallback="gctdDelCallback(index)" delall="gctdDelAll" indexs="gctdIndexs"
		   detailnum="{{detailNum}}" afterdetailnum="gctdAfterDetailNum()">
		<div class="item item-input">
			<span class="input-label defWidth"><span style="color:red">*</span>账户名</span>
			<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrderDtl__?__ActName"
					ng-readonly="submitData.tWfCust_PrjReturnOrderDtl_ActName_Edit != '1'"/>
		</div>
		<div class="item item-input">
			<span class="input-label defWidth"><span style="color:red">*</span>账号</span>
			<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrderDtl__?__CardId"
					ng-readonly="submitData.tWfCust_PrjReturnOrderDtl_CardId_Edit != '1'"/>
		</div>
		<div class="item item-input">
			<span class="input-label defWidth"><span style="color:red">*</span>开户行</span>
			<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrderDtl__?__Bank"
					ng-readonly="submitData.tWfCust_PrjReturnOrderDtl_Bank_Edit != '1'"/>
		</div>
		<div class="item item-input">
			<span class="input-label defWidth">支行</span>
			<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrderDtl__?__SubBranch"
					ng-readonly="submitData.tWfCust_PrjReturnOrderDtl_SubBranch_Edit != '1'"/>
		</div>
		<div class="item item-input">
			<span class="input-label defWidth">退款额</span>
			<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrderDtl__?__ReturnAmount"
					ng-readonly="submitData.tWfCust_PrjReturnOrderDtl_ReturnAmount_Edit != '1'"
			ng-keyup="chgMainAmount()"/>
		</div>
		<div class="item item-input" ng-if="submitData.tWfCust_PrjReturnOrderDtl_ConfirmAmount_Show == '1'">
			<span class="input-label defWidth">审核金额</span>
			<input type="text" ng-model="submitData.fp__tWfCust_PrjReturnOrderDtl__?__ConfirmAmount"
					ng-change="checkConfirmAmount(?)"
					ng-readonly="submitData.tWfCust_PrjReturnOrderDtl_ConfirmAmount_Edit != '1'"/>
		</div>
	</group>
	
	<div style="border: none;background-color:rgb(245,245,245);height:36px">
		<span style="test-align:center;padding:0;line-height:36px;color:black;padding-left:20px">图片</span>
	</div>
	<div class="row" style="background-color:white">
       <div style="width: 45%"><button ng-click="pickerPhoto()" class="button button-positive button-block"><span style="font-size: 15px">从相册中选择</span></button></div>
       <div style="width: 45%;margin-left: 10%"> <button ng-click="takePhoto()" class="button button-positive button-block"><i class="icon ion-ios-camera" ></i><span style="font-size: 15px">拍照</span></button></div>
    </div>
    <div ng-controller="photoCtrl">
      <div class="gallery-view">
        <ion-gallery ion-gallery-items="photoUrlList" ng-click="initSlideIndex(photoUrlList,$event,submitData.taskDefKey != 'startevent' && submitData.taskDefKey != 'applyman')" ></ion-gallery>
      </div>
    </div>
</div>