<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<button class="button button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
		<h1 class="title">选择楼盘</h1>
	</ion-header-bar>
	<ion-content>
		<ion-item class="item-input" style="padding-top: 0px;padding-bottom: 0px">
			<input type="text" placeholder="楼盘名字" ng-model="data.address" inputfocus>
			<button class="button button-icon icon ion-ios-search" ng-click="search(data)"></button>
		</ion-item>
		<div class="list">
			<ion-item ng-repeat="item in datas" ng-click="closeModal(item)">
				<div class="row">
					{{item.address}} ({{item.custTypeDescr}})
				</div>
			</ion-item>
		</div>
		<ion-list style="text-align: center" ng-if="netError">服务器未响应,请确认网络正常连接</ion-list>
	</ion-content>
</ion-modal-view>
