<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <distributable/>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/conf/applicationContext.xml,classpath*:/conf/applicationContext-server.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:/conf/springMVC-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
    	<max-file-size>5242880</max-file-size>
    	<max-request-size>5242880</max-request-size>
    	<file-size-threshold>0</file-size-threshold>
	</multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  <filter-name>appLoginFilter</filter-name>
  <filter-class>com.house.framework.web.login.AppLoginFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>appLoginFilter</filter-name>
  <url-pattern>/client/*</url-pattern>
 </filter-mapping>
 
 <filter>
  <filter-name>appLogFilter</filter-name>
  <filter-class>com.house.framework.web.filter.AppLogFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>appLogFilter</filter-name>
  <url-pattern>/client/*</url-pattern>
 </filter-mapping>
 
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.house.framework.web.servlet.MySessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.house.framework.web.servlet.ContextDestroyListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>4320</session-timeout> 
    <cookie-config>
        <!-- <max-age>604800</max-age> -->
    </cookie-config>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.housenet.ztreetag.org</taglib-uri>
      <taglib-location>/WEB-INF/MyTagLib.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>code</servlet-name>
    <servlet-class>
			com.house.framework.web.login.VerifiedServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>code</servlet-name>
    <url-pattern>/resources-code.jpg</url-pattern>
  </servlet-mapping>
  <!--<servlet>
  <servlet-name>uploadServlet</servlet-name>
    <servlet-class>
		com.house.framework.web.servlet.UploadServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>-->
  <servlet>
	<servlet-name>RestletServlet</servlet-name>
	<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
	<init-param>
		<param-name>org.restlet.application</param-name>
		<param-value>com.house.framework.commons.workflow.ExplorerRestApplication</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>RestletServlet</servlet-name>
	<url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/commons/jsp/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/commons/jsp/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/commons/jsp/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/commons/jsp/403.jsp</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>house</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>svn</web-resource-name>
      <url-pattern>/.svn/*</url-pattern>
    </web-resource-collection>
	<auth-constraint></auth-constraint>
  </security-constraint>
  <welcome-file-list>
  	<welcome-file>forward.jsp</welcome-file>
  </welcome-file-list>
  <!-- 
  <security-constraint> 
  	<web-resource-collection> 
    	<web-resource-name>SSL</web-resource-name> 
        <url-pattern>/*</url-pattern> 
    </web-resource-collection>
                             
    <user-data-constraint> 
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee> 
    </user-data-constraint> 
  </security-constraint>
  -->
</web-app>