
  <ion-header-bar class="bar-positive">
    <button  class="button button-clear icon ion-arrow-left-c" ng-click="goback()"></button>
    <h1 class="title">设置密码</h1>
    <button class="button button-positive" ng-click="updatePassword()">完成</button>
  </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-input">
                <span class="input-label">旧密码</span>
                <input type="password" placeholder="请输入旧密码" ng-model="data.oldPassword">
            </ion-item>
            <ion-item class="item-input">
              <span class="input-label">新密码</span>
                <input type="password" placeholder="请输入新密码" ng-model="data.newPassword">
            </ion-item>
            <ion-item class="item-input">
            <span class="input-label">确认密码</span>
             <input type="password" placeholder="请再次输入新密码" ng-model="data.repeatPassword">
            </ion-item>
        </ion-list>
    </ion-content>
    <!--<script id="password-modal.html" type="text/ng-template">-->
        <!--<div class="modal " style="margin-top:200px;margin-left:13%;width: 74%">-->
            <!--<ion-header-bar style="border-bottom: none">-->
                <!--<h1 class="title light" >提示</h1>-->
            <!--</ion-header-bar>-->
            <!--<ion-content>-->
               <!--{{Tip}}-->
                <!--<div class="row">-->
                    <!--<div  class="col-offset-75"> <button class="button button-clear" ng-click="closeModal()">确定</button></div>-->
                <!--</div>-->


            <!--</ion-content>-->
        <!--</div>-->
    <!--</script>-->
